NODE_REGION=ge
PORT=8080
BACKEND_URL=http://backend:3000
JWT_SECRET=change_me_jwt_secret
REDIS_URL=redis://redis:6379
INTER_NODE_SECRET=change_me_inter_node_shared_secret
RELAY_RU_INTERNAL=http://10.10.0.2:8080
RELAY_GE_INTERNAL=http://10.10.0.3:8080
RELAY_FI_INTERNAL=http://10.10.0.4:8080
